body {
    font-family: "Montserrat", sans-serif;
    background: #f5f7fa;
    margin: 20px;
    padding: 20px;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.1);
}
aside {
    background: #234b87;
    width: 370px;
}
.cvphoto {
    margin-top: 25px;
}
.headers-secondary {
    color: #fff;
}
.contacts-links {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.bold {
    font-weight: 700;
}
.list-secondary {
    color: chocolate;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}
.list-secondary-item {
    color: #fff;
}
.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}
.techskills-block {
    margin-top: 47px;
    margin-left: 40px;
}
.softskills-block {
    margin-top: 47px;
    margin-left: 40px;
}
main {
    padding-top: 102px;
    padding-left: 88px;
    padding-bottom: 102px;
    padding-right: 88px;
}
.main-description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}
.job_title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.description {
    color: 1816165;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.header-primary {
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}
.list-primary {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-left: 0;
    list-style-position: inside;
}
.list-primary-item {
    color: #181616;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}
.job-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.company {
    color: #fb6d3a;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.school-name {
    color: #fb6d3a;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-right: 10px;
}

.school-name,
h3 {
    margin: 5px;
}
.date {
    margin: 0;
}
